<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arsi.dev.kriptofoni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivities.ToolsActivities.ConverterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivities.ToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivities.CooperationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivities.ContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenChartActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CoinSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrencyChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CryptoCurrencyDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuySellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationBackgroundService"
            android:enabled="true" />

        <receiver
            android:name=".NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />
    </application>

</manifest>